alembic==1.14.0
fastapi==0.115.6
PyJWT==2.10.1
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.7.0
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
openai==1.58.1
langfuse==2.57.5
sentry-sdk[fastapi]==2.19.2
python-multipart==0.0.19
aiofiles==24.1.0
httpx
feedparser
cryptography
